/* CSS Variables */
:root {
  --header-font: 'Brush Script MT', 'Brush Script Std', cursive;
  --body-font: 'Helvetica', 'Arial', sans-serif;
  --primary-color: #76ac1c;
  --secondary-color: #2a2d2d;
  --background-color: #ffffff;
  --gray: #ccc;
  --text-color: #2a2d2d;
  /* Spacing */
  --nav-height: 50px;
  --border-radius: 10px;
  --margin-big: 15px;
  --margin-small: 7.5px;

  /* Pizza colors */
  --pie-fill: #fef0bd;
  --outer-crust: #d37e0e;
  --inner-crust: #de9c2f;
  --pepperoni: #ff6969;
  --squiggle-orange: #ff9c43;
  --squiggle-green: #76ac1c;
  --white: #fff;
}
/* Page Styles */
html {
  font-size: 1.35em;
  color: var(--text-color);
}

body {
  font: 100% var(--body-font);
  background-color: var(--background-color);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.title {
  text-align: center;
  margin: 0;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.content {
  width: 95%;
  margin: 0 auto;
}

#pizza {
  width: 100%;
  max-width: 900px;
  max-height: calc(100vh - 2.5em);
  flex: 2;
}

#topping-picker-container {
  flex: 1;
  max-width: 450px;
}

.pepperoni,
.pepperoni-background,
.squiggle-orange,
.squiggle-green,
.pizza-spec,
.pepperoni-small,
.slice-line {
  visibility: hidden;
}

/* Button Styles */
.button {
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--text-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  text-align: center;
  transition: all 0.15s;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  font-weight: bold;
  border-color: var(--primary-color);
  background-color: white;
}
.button:focus {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.button:disabled {
  cursor: auto;
  border-color: var(--gray);
  background-color: var(--gray);
}
.button:disabled:hover {
  font-weight: normal;
}

.extra-button {
  background-color: white;
}
.extra-button:hover {
  background-color: var(--primary-color);
}
.extra-button:focus {
  background-color: white;
}

.button-text {
  font-family: var(--header-font);
  font-size: 30px;
  font-weight: bold;
}

#reset-button {
  width: 100px;
}

.thumbnail {
  width: 50px;
}

@media screen and (max-width: 450px) {
  .thumbnail {
    width: 30px;
  }
  .button {
    width: 40px;
    height: 40px;
  }
  #reset-button {
    width: 100px;
  }
}

/* Utils */
/* margin classes */
.margin-top,
.margin-y,
.margin {
  margin-top: var(--margin-big);
}

.margin-bottom,
.margin-y,
.margin {
  margin-bottom: var(--margin-big);
}

.margin-x,
.margin {
  margin-left: var(--margin-big);
  margin-right: var(--margin-big);
}
.margin-small,
.margin-x-small {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}
.margin-small,
.margin-y-small {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

/*flex divs */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-switch,
.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .flex-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
