/* CSS Variables */
:root {
  --header-font: 'Brush Script MT', 'Brush Script Std', cursive;
  --body-font: 'Helvetica', 'Arial', sans-serif;
  --primary-color: #76ac1c;
  --secondary-color: #2a2d2d;
  --background-color: #ffffff;
  --gray: #ccc;
  --text-color: #2a2d2d;
  /* Spacing */
  --nav-height: 50px;
  --border-radius: 10px;
  --margin-big: 15px;
  --margin-small: 7.5px;

  /* Pizza colors */
  --pie-fill: #fef0bd;
  --outer-crust: #d37e0e;
  --inner-crust: #de9c2f;
  --pepperoni: #ff6969;
  --squiggle-orange: #ff9c43;
  --squiggle-green: #76ac1c;
  --white: #fff;
}

/* Button Styles */
.button {
  display: inline-block;
  min-width: 130px;
  border-radius: var(--border-radius);
  padding: 7.5px 15px;
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--text-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  text-align: center;
  transition: all 0.15s;
}
.button:hover {
  cursor: pointer;
  font-weight: bold;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.button:focus {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.button:disabled {
  cursor: auto;
  border-color: var(--gray);
  background-color: var(--gray);
}
.button:disabled:hover {
  font-weight: normal;
}
@media screen and (max-width: 450px) {
  .button {
    min-width: 100px;
  }
}

/* Page Styles */
html {
  font-size: 1.25em;
  color: var(--text-color);
}

body {
  font: 100% var(--body-font);
  background-color: var(--background-color);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.title {
  text-align: center;
  margin: 0;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.content {
  width: 80%;
  margin: 0 auto;
}

#pizza {
  width: 100%;
  max-width: 800px;
  max-height: 100vh;
}

/* Nav Styles */
nav {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: var(--nav-height);
}
nav a {
  color: var(--text-color);
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
}

.logo {
  width: 25px;
  height: auto;
}

/* Utils */
/* margin classes */
.margin-top,
.margin-y,
.margin {
  margin-top: var(--margin-big);
}

.margin-bottom,
.margin-y,
.margin {
  margin-bottom: var(--margin-big);
}

.margin-x,
.margin {
  margin-left: var(--margin-big);
  margin-right: var(--margin-big);
}

.margin-x-small {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}

/*flex divs */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}
